<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Welcome to Your Journal</title>
  <!-- Materialize Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  
  <div class="container">
    
    <div class="row">
      <div class="col s4">
        <h2>Date</h2>
      </div>
    </div>
    
    <div class="row">
      <div class="col s12">
        <h3>Captain's Log</h2>
      </div>
    </div>
    
  </div>
  
</body>

</html>