<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Journal App Sign Up Page</title>
</head>

<body>
  
  <form id="signup" name="signup" method="POST" action="/login">
    <label for="username">Username:</label>
    <input class="text" name="username" type="text" />
    
    <label for"password" name="password">Password:</label>
    <input name="password" type="password" />
    <input class="btn" type="submit" value="Sign Up" />
    
  </form>
  
</body>

</html>